.serviceCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  row-gap: 50px;
  padding: 20px 95px;
  margin-bottom: 100px;
}

.serviceCard > div:nth-child(1) {
  align-self: center;
}

.serviceCard.bgIllustration {
  padding-top: 120px;
  padding-bottom: 100px;
  margin-bottom: 0px;
  background-image: url(../../images/illustrations/service.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceCard.imgFirst .serviceCard__img,
.serviceCard.fullCard .serviceCard__img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.serviceCard.fullCard {
  margin: 20px 0px 120px;
  padding: 0px;
  gap: 0px;
  row-gap: 50px;
  background-color: var(--brand-primary-color);
}

.serviceCard.fullCard * {
  color: #ffffff;
}

.serviceCard.fullCard .serviceCard__content {
  padding: 20px 95px;
}

.serviceCard:last-of-type {
  margin-bottom: 0px;
}

.serviceCard__content h2 {
  margin-bottom: 10px;
}

.serviceCard a {
  display: inline-block;
  margin-top: 10px;
}

.serviceCard__content ul {
  padding: 0 0 0 40px;
  text-align: left;
}

.serviceCard__subSection {
  margin-top: 20px;
  text-align: left;
}

.serviceCard.fullCard .serviceCard__img {
  height: 100%;
  border-radius: 0px;
}

.serviceCard__img {
  overflow: hidden;
  border-radius: 10px;
  align-self: center;
}

.serviceCard:hover img {
  transform: scale(1.09);
}

.serviceCard__img img {
  width: 100%;
  transition: all 0.3s ease-in;
}

.serviceCard.fullCard .serviceCard__img img {
  height: 100%;
}

@media screen and (max-width: 900px) {
  .serviceCard {
    gap: 40px;
    padding: 20px 55px;
    margin-bottom: 40px;
  }

  .serviceCard.bgIllustration {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .serviceCard.fullCard {
    margin: 20px 0px 60px;
  }

  .serviceCard.fullCard .serviceCard__content {
    padding: 30px 55px;
    padding-right: 30px;
  }

  .serviceCard.fullCard.imgFirst .serviceCard__content {
    padding: 30px 55px;
    padding-left: 30px;
  }

  .serviceCard__content h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .serviceCard__subSection {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .serviceCard {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    row-gap: 50px;
    padding: 20px 25px;
    margin-bottom: 20px;
  }

  .serviceCard.bgIllustration {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .serviceCard.fullCard {
    margin: 20px 0px 40px;
    row-gap: 0px !important;
  }

  .serviceCard.fullCard .serviceCard__content,
  .serviceCard.fullCard.imgFirst .serviceCard__content {
    padding: 30px 25px;
  }

  .serviceCard__img {
    grid-column: initial;
    grid-row: 1/2;
  }

  .serviceCard__content,
  .serviceCard__subSection {
    text-align: center;
  }

  .serviceCard__subSection h5 {
    text-align: left;
  }
}
