.aboutHero {
  padding: 95px 95px 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../../images/illustrations/about.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutHero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  width: 75%;
}
