.aboutHero {
  padding: 95px 95px 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../../images/illustrations/about.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutHero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  width: 75%;
}

@media screen and (max-width: 900px) {
  .aboutHero {
    padding: 65px 55px 80px;
  }

  .aboutHero__content {
    width: 100%;
    gap: 12px;
  }
}

@media screen and (max-width: 550px) {
  .aboutHero {
    padding: 40px 25px 50px;
  }
}
