.coreValue {
  padding: 120px 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.coreValue__content {
  padding: 45px 0px 0px;
}

.coreValue__content h2 {
  margin-bottom: 16px;
}

.coreValue__content p {
  margin-bottom: 32px;
}

.coreValue__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.coreValue__list ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.coreValue__listCheck {
  display: flex;
}

.coreValue__list ul li span {
  font-weight: 500;
}

.coreValue__listCheck > img {
  width: 25px;
}

.coreValue__imgMiddle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coreValue__imgLast img,
.coreValue__imgMiddle img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .coreValue {
    padding: 70px 55px;
    grid-template-columns: repeat(2, 1fr);
  }

  .coreValue__content {
    padding: 25px 0px 0px;
  }

  .coreValue__content h2 {
    margin-bottom: 8px;
  }

  .coreValue__listCheck > img {
    width: 20px;
  }

  .coreValue__content,
  .coreValue__imgLast {
    grid-row: 1/2;
  }

  .coreValue__imgMiddle {
    grid-row: 2/3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
