.otherInfo {
  display: flex;
  flex-direction: column;
}

.checkArea {
  display: flex;
  gap: 16px;
}

.checkArea input {
  margin-top: 4px;
}

.checkArea label {
  cursor: pointer;
  color: #666666;
}
