.callToAction {
  padding: 100px 95px !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

.callToAction__btn {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
