.keyServices {
  padding-top: 80px !important;
  padding-bottom: 130px !important;
  background-image: url(../../images/illustrations/keyService.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: padding-box;
  height: fit-content;
}

.keyServices__header {
  text-align: center;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.keyServices__list {
  margin: 95px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  row-gap: 60px;
}

.keyServices__listIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #1b2e54 48.44%,
    rgba(27, 46, 84, 0.57) 100%
  );
  filter: drop-shadow(0px 12px 20px rgba(27, 46, 84, 0.12));
}

.keyServices__listIcon img {
  max-width: 50%;
  max-height: 50%;
}

.keyServices__listTitle {
  margin-bottom: 8px;
}

.keyServices__exploreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .keyServices {
    padding-top: 50px !important;
    padding-bottom: 100px !important;
  }
  .keyServices__header {
    width: 90%;
    gap: 0px;
  }

  .keyServices__list {
    margin: 55px 0px;
    column-gap: 40px;
    row-gap: 40px;
  }

  .keyServices__listIcon {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
  }

  .keyServices__listItem {
    text-align: center;
  }
}
