.ourBusiness {
  padding: 0px !important;
  display: grid;
  grid-template-columns: 5fr 7fr;
  background-color: var(--brand-primary-color);
}

.ourBusiness__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ourBusiness__content {
  padding: 100px 70px;
}

.ourBusiness__content h2,
.ourBusiness__content p {
  color: #ffffff;
}

.ourBusiness__content h2 {
  margin-bottom: 16px;
}

.ourBusiness__content p {
  margin-bottom: 50px;
}

.ourBusiness__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ourBusiness__list ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ourBusiness__list ul li span {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}

.ourBusiness__listCheck {
  display: flex;
}

.ourBusiness__listCheck > img {
  width: 25px;
}

@media screen and (max-width: 1370px) {
  .ourBusiness__list ul li span {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .ourBusiness {
    grid-template-columns: repeat(2, 1fr);
  }

  .ourBusiness__content {
    padding: 40px 30px;
    padding-left: 55px;
  }

  .ourBusiness__content h2 {
    margin-bottom: 10px;
  }

  .ourBusiness__content p {
    margin-bottom: 30px;
  }

  .ourBusiness__listCheck > img {
    width: 20px;
  }

  .ourBusiness__list ul li span {
    font-size: 16px;
  }

  .ourBusiness__img img {
    object-fit: fill;
  }
}
