.ourCustomer {
  padding-top: 80px !important;
  padding-bottom: 130px !important;

  background-image: url(../../images/illustrations/customer1.svg),
    url(../../images/illustrations/customer2.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.ourCustomer__header {
  text-align: center;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ourCustomer__content {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}

.ourCustomer__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 50px;
  align-items: center;
}

.ourCustomer__images > div {
  position: relative;
}

.ourCustomer__imageOne {
  grid-row: 1 / 3;
}

.ourCustomer__imageTwo,
.ourCustomer__imageThree {
  grid-column: 2/3;
}

.ourCustomer__imageOne:after {
  content: url(../../images/tooltip1.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}
.ourCustomer__imageTwo:after {
  content: url(../../images/tooltip2.png);
  position: absolute;
  left: 50%;
  top: 5%;
}
.ourCustomer__imageThree:after {
  content: url(../../images/tooltip3.png);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.ourCustomer__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ourCustomer__list ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ourCustomer__list ul li span {
  font-weight: 500;
}

.ourCustomer__listCheck > img {
  width: 25px;
}
