.ourCustomer {
  padding-top: 80px !important;
  padding-bottom: 130px !important;

  background-image: url(../../images/illustrations/customer1.svg),
    url(../../images/illustrations/customer2.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 50%;
}

.ourCustomer__header {
  text-align: center;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ourCustomer__content {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 100px;
}

.ourCustomer__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 50px;
  align-items: center;
}

.ourCustomer__images img {
  max-width: 250px;
  width: 100%;
  transition: all 0.3s ease-in;
}

.ourCustomer__images img:hover {
  transform: scale(1.09);
}

.ourCustomer__images > div {
  position: relative;
}

.ourCustomer__imageOne {
  grid-row: 1 / 3;
}

.ourCustomer__imageTwo,
.ourCustomer__imageThree {
  grid-column: 2/3;
}

.ourCustomer__images > div::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 120px;
  max-width: 180px;
  height: 100%;
  width: 100%;
}

.ourCustomer__imageOne::after {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-image: url(../../images/tooltip1.png);
}

.ourCustomer__imageTwo::after {
  left: 70%;
  top: 5%;
  background-image: url(../../images/tooltip2.png);
}

.ourCustomer__imageThree::after {
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../images/tooltip3.png);
}

.ourCustomer__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ourCustomer__list ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ourCustomer__list ul li span {
  font-weight: 500;
  font-size: 20px;
}

.ourCustomer__listCheck {
  display: flex;
}

.ourCustomer__listCheck > img {
  width: 25px;
}

@media screen and (max-width: 1370px) {
  .ourCustomer__list ul li span {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .ourCustomer {
    padding-top: 50px !important;
    padding-bottom: 100px !important;
  }

  .ourCustomer__header {
    width: 90%;
    gap: 0px;
  }

  .ourCustomer__content {
    margin-top: 60px;
    gap: 80px;
  }

  .ourCustomer__images {
    column-gap: 20px;
    row-gap: 20px;
  }

  .ourCustomer__images img {
    max-width: 150px;
  }

  .ourCustomer__images > div::after {
    max-height: 100px !important;
    max-width: 130px !important;
  }

  .ourCustomer__imageTwo::after,
  .ourCustomer__imageThree::after {
    left: 50%;
  }

  .ourCustomer__list ul li span {
    font-size: 16px;
  }

  .ourCustomer__listCheck > img {
    width: 20px;
  }
}

@media screen and (max-width: 550px) {
  .ourCustomer {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
  }

  .ourCustomer__header {
    width: 100%;
  }

  .ourCustomer__content {
    margin-top: 30px;
    gap: 0px;
  }

  .ourCustomer__images {
    display: none;
  }

  .ourCustomer__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
