.ourHistory {
  padding: 0px !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--brand-primary-color);
}

.ourHistory__img img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in;
}

.ourHistory__img {
  overflow: hidden;
}

.ourHistory__img img:hover {
  transform: scale(1.09);
}

.ourHistory__content {
  padding: 100px 70px;
}

.ourHistory__content h2,
.ourHistory__content p {
  color: #ffffff;
}

.ourHistory__content h2 {
  margin-bottom: 16px;
}

.ourHistory__content p {
  margin-bottom: 32px;
  max-width: 80%;
}

@media screen and (max-width: 900px) {
  .ourHistory__content {
    padding: 40px 30px;
    padding-right: 55px;
  }

  .ourHistory__content h2 {
    margin-bottom: 10px;
  }

  .ourHistory__content p {
    max-width: 100%;
  }
}
