.contactHero {
  padding: 95px 95px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.contactHero__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 75%;
}

.contactHero__body {
  display: flex;
  align-items: center;
  gap: 100px;
}

ul.contactHero__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul.contactHero__list li {
  display: flex;
  align-items: center;
  gap: 16px;
}

ul.contactHero__list li span,
ul.contactHero__list li a {
  font-weight: 400;
  text-decoration: none;
}

.coreValue__listIcon {
  display: flex;
}

.contactHero__bodyImg img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .contactHero {
    padding: 60px 55px 80px;
    gap: 50px;
  }

  .contactHero__header {
    gap: 8px;
    width: 100%;
  }

  .contactHero__body {
    gap: 30px;
  }

  .coreValue__listIcon img {
    width: 30px;
  }
}
