.contactHero {
  padding: 95px 95px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.contactHero__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 75%;
}

.contactHero__body {
  display: flex;
  align-items: center;
  gap: 100px;
}

ul.contactHero__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul.contactHero__list li {
  display: flex;
  align-items: center;
  gap: 16px;
}

ul.contactHero__list li span,
ul.contactHero__list li a {
  font-weight: 400;
}

.coreValue__listIcon {
  display: flex;
}

.coreValue__listIcon img {
  transition: all 0.3s ease-in;
}

ul.contactHero__list li:hover .coreValue__listIcon img {
  transform: rotate(-30deg);
}

.contactHero__bodyImg {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.contactHero__bodyImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.contactHero__bodyImg img:hover {
  transform: scale(1.09);
}

@media screen and (max-width: 900px) {
  .contactHero {
    padding: 60px 55px 80px;
    gap: 50px;
  }

  .contactHero__header {
    gap: 8px;
    width: 100%;
  }

  .contactHero__body {
    gap: 30px;
  }

  .coreValue__listIcon img {
    width: 30px;
  }
}

@media screen and (max-width: 550px) {
  .contactHero {
    padding: 40px 25px 50px;
    gap: 50px;
  }

  .contactHero__body {
    flex-direction: column;
  }
}
