.openAccountHero {
  padding: 95px 95px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openAccountHero__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 70%;
}

@media screen and (max-width: 900px) {
  .openAccountHero {
    padding: 65px 55px 30px;
  }

  .openAccountHero__content {
    width: 100%;
    gap: 8px;
  }
}

@media screen and (max-width: 550px) {
  .openAccountHero {
    padding: 40px 25px 30px;
  }
}
