.progressBar {
  margin-top: 40px;
}

.progressBar .Mui-completed,
.progressBar .Mui-active {
  color: var(--brand-primary-color) !important;
}

.progressBar .MuiStepLabel-label {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
}
