:root {
  --bg-color: #f9fafb;
  --bg-account-color: #fafafa;
  --brand-primary-color: #1b2e54;
  --brand-sec-color: #bf2626;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0.015em;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--brand-primary-color);
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  line-height: 52px;
}

h2 {
  font-size: 36px;
  line-height: 52px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

button,
.button {
  font-family: "Dosis", sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background: var(--brand-primary-color);
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 150px;
  text-decoration: none;
  /* font-size: 20px; */
}

.btnReverse {
  background-color: #d1d5dd;
  color: var(--brand-primary-color);
}

a {
  text-decoration: none;
}
