.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 120px;
  padding: 60px 95px;
  background-color: var(--brand-primary-color);

  background-image: url(../../images/illustrations/footer.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: padding-box;
}

.footer * {
  color: #ffffff;
}

.footer h5 {
  margin-bottom: 16px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer a {
  font-weight: 300;
  font-size: 18px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact p {
  font-weight: 300;
}

.footer__socials {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer__socials a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.3s ease-in;
}

.footer__socials a.instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.footer__socials a.youtube:hover {
  background-color: #c4302b;
}
.footer__socials a.linkedin:hover {
  background-color: #0e76a8;
}
.footer__socials a.facebook:hover {
  background-color: #3b5998;
}

.footer__socials a:hover * {
  color: #ffffff;
}

.footer__socials a * {
  width: 20px;
  height: 20px;
  color: var(--brand-primary-color);
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 30px 55px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 20px;
  }

  .footer__contact {
    grid-column: 1 / span 3;
  }

  .footer a {
    font-size: 16px;
  }

  .footer__socials {
    gap: 10px;
  }
}
