.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.formLabel {
  font-weight: 500;
  line-height: 25px;
  width: fit-content;
  cursor: pointer;
  user-select: none;
}

input,
select {
  user-select: none;
  background: #ffffff;
  border: 1.5px solid #cccccc;
  border-radius: 4px;
  padding: 16px;
  outline: none;
  height: 55px;
  width: 100%;
  font-family: "Dosis", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 900px) {
  .formLabel {
    font-size: 14px;
    white-space: nowrap;
  }
}
