.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 25px 95px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  box-shadow: 0px 12px 20px rgba(102, 102, 102, 0.06);
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__menuToggle {
  display: none;
}

.header__icon {
  max-width: 250px;
}

.header__icon a,
.header__icon img {
  width: 100%;
}

.header__nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 65px;
  padding-bottom: 8px;
}

.header__nav ul li a {
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease-in;
}

.header__nav ul li a:hover {
  color: var(--brand-sec-color);
}

.header__nav ul li a.active {
  font-weight: 500;
  color: var(--brand-sec-color);
}

.header__nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  bottom: -8px;
  height: 4px;
  width: 50%;
  border-radius: 30px;
  transition: all 0.3s ease-in;
}

.header__nav ul li a.active::after,
.header__nav ul li a:hover::after {
  background-color: var(--brand-sec-color);
  transform: translateX(-50%) scale(1);
}

@media screen and (max-width: 1370px) {
  .header__nav ul {
    gap: 55px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px 55px;
  }

  .header__icon {
    max-width: 180px;
  }

  .header__nav ul {
    gap: 20px;
  }

  .header__btn button {
    font-size: 14px;
    padding: 10px;
    min-width: none;
    min-height: auto;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 20px 25px;
  }

  .header__menuToggle {
    display: block;
    z-index: 10000;
  }

  .header__menuToggle .MuiSvgIcon-root {
    font-size: 40px;
    cursor: pointer;
  }

  .header__nav {
    display: flex;
    position: fixed;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 0 0 0 1000px;
    transform: translate(100%, -100%);
    transition: all 0.6s ease-in-out;
  }

  .header__nav.showMenu {
    background-image: url(../../images/illustrations/service.svg);
    background-repeat: no-repeat;
    background-size: cover;

    transform: translate(0%, 0%);
    border-radius: 0px;
    opacity: 1;
  }

  .header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }
}
